<%- include('partials/head')%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('partials/navbar')%>
    <img src = "/img/LEARNING.png" alt = "learning image" style = "width: 100%;">
    <h2 class = "mb-2 mt-5" style="text-align: center;">About Us</h2>
    <hr class = "mb-5">
    <div class="row">
        <div class="col-sm-6 " style= "display: flex; justify-content: center; margin-top:0px ;">
            <img src = "/img/phone.png" alt = "phone image" style = "width: 40%; height: 80%;">
        </div>
        <div class="col-sm-6">
            <div class="card border-primary mb-3 mt-3" style="max-width: 100%; margin-left: 10px;">
                <div class="card-body text-primary">
                    <p class="card-text">
                        Traveloka is also a key player in the local services category (currently specific to certain markets), 
                        offering reservations for a wide range of local attractions, activities, wellness and beauty clinics, 
                        culinary directories as well as food delivery. Traveloka also offers financing, payment, and insurance 
                        products to help Southeast Asian consumers fulfill their lifestyle aspirations. Traveloka provides 24/7 
                        customer service in local languages as well as more than 40 different local payment methods. Traveloka’s 
                        lifestyle superapp has been downloaded more than 100 million times, making it the most popular travel and 
                        lifestyle booking application in the Southeast Asian region.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card border-primary mb-3" style="max-width: 100%; margin-left: 10px;">
                <div class="card-body text-primary">
                    <p class="card-text">
                        Traveloka is also a key player in the local services category (currently specific to certain markets), 
                        offering reservations for a wide range of local attractions, activities, wellness and beauty clinics, 
                        culinary directories as well as food delivery. Traveloka also offers financing, payment, and insurance 
                        products to help Southeast Asian consumers fulfill their lifestyle aspirations. Traveloka provides 24/7 
                        customer service in local languages as well as more than 40 different local payment methods. Traveloka’s 
                        lifestyle superapp has been downloaded more than 100 million times, making it the most popular travel and 
                        lifestyle booking application in the Southeast Asian region.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 " style= "display: flex; justify-content: center; margin-top:0px ;">
            <img src = "/img/phone.png" alt = "phone image" style = "width: 40%; height: 80%;">
        </div>
    <img src = "/img/LEARNING.png" alt = "learning image" style = "width: 100%;">
    </div>
    
    <%- include('partials/footer')%>
</body>
</html>