<%- include('partials/head')%>

<body >
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style>
    .centered-element {
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .box{
        box-shadow: 0 8px 24px 0 rgba(252, 246, 224, 0.704);
        background-image: url('../img/test.jfif');
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
    }
    .schedule{
        box-shadow: 0 8px 24px 0 rgba(252, 246, 224, 0.704);
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
    }
    .home{
        background-image: url("../img/background_2.jpg");
        width: 100%;
        height: 800px;
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
    }
    .title{
        width: 100%;
        height: 650px;
    }
    .text{
        color: #f2f3f4;
    }
    .other{
        background-color: #1f1053;
    }
</style>
<div class = "other">
    <div class=" home">
        <%- include('partials/navbar')%>
        <div class="row">
            <div class="col-8"></div>
            <div class="col-4" style = "margin-top: 300px">
                <div style="background:transparent !important" class="jumbotron centered-element" >
                    <div class="">
                        <h1 class="display-4 text">AnW</h1>
                        <p class="lead text">Welcome to AnW Learning Center. Are you ready to learn your new languages?</p>
                        <hr class="my-4" style = "color:aqua; ">
                        <p class = "text">We have numerous classes that will suits your goal and level</p>
                        <p class="lead text">
                        <a class="btn btn-outline-light btn-lg" href="#" role="button">Schedule</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h2 class = "mt-5" style = "display: flex; justify-content: center; color: #4545E6">Our Lessons Packets</h2>
        <h6 class=" mt-3 mb-5" style= "display: flex; justify-content: center; color: whitesmoke">We have several classes with different difficulty and goal</h6>
        <div class = "row">
            <div class="col-3">
                <div class="border border-2 box rounded-5" style = "width: 300px; height: 300px;">
                    <div class = "centered-element">
                        <div class = "mt-3 " style="display:flex ; justify-content : center;">
                            <h2 class = "text-center">TEST</h2>
                        </div>
                        <div class="container mb - 3" style = "width: 300px;">
                            <p class = "text-muted text-center mt-3">
             
                            </p>
                        </div>
                    </div>
                </div>
            </div>     
            <div class="col-3">
                <div class="border border-2 box mb-3 rounded-5" style = "width: 300px; height: 300px;">
                    <div class = "centered-element">
                        <div class = "mt-3 " style="display:flex ; justify-content : center;">
                            <h2>ALL-IN 1</h2>
                        </div>
                        <div class="container mb - 3" style = "width: 300px;">
                            <p class = "text-muted text-center mt-3">
                            </p>
                        </div>
                    </div>
                </div>
            </div>     
            <div class="col-3">
                <div class="border border-2 box mb-3 rounded-5" style = "width: 300px; height: 300px;">
                    <div class = "centered-element">
                        <div class = "mt-3 " style="display:flex ; justify-content : center;">
                            <h2>CONVERSATION</h2>
                        </div>
                        <div class="container mb - 3" style = "width: 300px;">
                            <p class = "text-muted text-center mt-3">
                                
                            </p>
                        </div>
                    </div>
                </div>
            </div>     
            <div class="col-3">
                <div class="border border-2 box mb-3 rounded-5" style = "width: 300px; height: 300px;">
                    <div class = "centered-element">
                        <div class = "mt-3 " style="display:flex ; justify-content : center;">
                            <h2>WRITTING</h2>
                        </div>
                        <div class="container mb - 3" style = "width: 300px;">
                            <p class = "text-muted text-center mt-3">
                            </p>
                        </div>
                    </div>
                </div>
            </div>     
        </div>
    </div>
    <div class="row">
        <div class="col-4 mt-5">
            <div class="border border-2 rounded-5 border-primary schedule" style = "height: 600px; margin-left: 10px; background-color: white; opacity:0.95;">
                <div class = "container centered-element" >
                    <h3 class = "mb-5" style = "margin-left: 10px;"> Check out  the class schedule right now</h3>
                    <h6 style = "margin-left: 20px; margin-right: 10px;"> You can register the course after consulting with us. 
                        After registration, you will be assigned to class through a level test(interview)</h6>
                </div>
            </div>
        </div>
        <div class="col-8 mt-5">
            <div class="centered-element">
                <div class="row " style="display: flex; justify-content:center;">
                    <div class="card mb-3 mt-3 schedule" style="width: 300px; height: 200px; margin-left: 40px; opacity: 0.95">
                        <div class="card-body centered-element">
                          <h5 class="card-title">Intensive Korean Course</h5>
                          <a href="#" class="btn btn-outline-secondary">See Schedule</a>
                        </div>
                    </div>
                    <div class="card mb-3 mt-3 schedule" style="width: 300px; height: 200px; margin-left: 20px; opacity: 0.95">
                        <div class="card-body centered-element">
                          <h5 class="card-title">Speaking Korean Course</h5>
                          <a href="#" class="btn btn-outline-secondary">See Schedule</a>
                        </div>
                    </div>
                    <div class="card mb-3 mt-3 schedule" style="width: 300px; height: 200px; margin-left: 20px; opacity: 0.95">
                        <div class="card-body centered-element">
                            <h5>Writting English Course</h5>
                          <a href="#" class="btn btn-outline-secondary">See Schedule</a>
                        </div>
                    </div>
                </div>
                <div class="row " style="display: flex; justify-content:center;">
                    <div class="card mb-3 mt-3 schedule" style="width: 300px; height: 200px; margin-left: 40px; opacity: 0.95">
                        <div class="card-body centered-element">
                          <h5 class="card-title">IELTS preperations</h5>
                          <a href="#" class="btn btn-outline-secondary">See Schedule</a>
                        </div>
                    </div>
                    <div class="card mb-3 mt-3 schedule" style="width: 300px; height: 200px; margin-left: 20px; opacity: 0.95">
                        <div class="card-body centered-element">
                          <h5 class="card-title">Intensive Japanese Course</h5>
                          <a href="#" class="btn btn-outline-secondary">See Schedule</a>
                        </div>
                    </div>
                    <div class="card mb-3 mt-3 schedule" style="width: 300px; height: 200px; margin-left: 20px; opacity: 0.95">
                        <div class="card-body centered-element">
                          <h5 class="card-title">Intensive Chinese Course</h5>
                          <a href="#" class="btn btn-outline-secondary">See Schedule</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="container" id = "testimony">
        <p class = " text-muted text-center mt-5" >TESTIMONIALS</p>
        <h3 class = "text-center mt-2" style = "color: white">What our clients say about us.</h3>
        <div class="row mt-5 mb-5">
            <div class="col-4 ">
                <div class="border rounded-5 border-primary border-3">
                    <div class = "mt-3 mb-5" style="display:flex ; justify-content : center;">
                        <img src = "/img/kutip.png" alt = "kutip" style = "width: 20%;">
                    </div>
                    <div class="container mb- 3" style = "width: 300px;">
                        <p class = "text-center mt-3" style = "color: white">
                            I have be using Anw Online Learning for 3 years to learn Korean language. Long story short, I met 
                            one of my friend who lived in Korea, and she was suprised I can speak Korean fluently. Thank you Anw Learning Center
                        </p>
                    </div>
                    <div style = "display: flex; justify-content: center;" class = "mb-3">
                        <img src = "/img/profile_picture.jpg" alt = "profile_picture" class = "rounded-circle mt-3 " style  = "width : 75px;">
                    </div>
                    <div style = "display:flex; justify-content: center;">
                        <hr style  = "width: 200px;">
                    </div>
                    <div class="container mb-5">
                        <p class = "text-muted text-center mt-3">
                            Anonymous
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="border rounded-5 border-primary border-3">
                    <div class = "mt-3 mb-5" style="display:flex ; justify-content : center;">
                        <img src = "/img/kutip.png" alt = "kutip" style = "width: 20%;">
                    </div>
                    <div class="container mb- 3" style = "width: 300px;">
                        <p class = "text-center mt-3" style = "color: white">
                            I have be using Anw Online Learning for 3 years to learn Korean language. Long story short, I met 
                            one of my friend who lived in Korea, and she was suprised I can speak Korean fluently. Thank you Anw Learning Center
                        </p>
                    </div>
                    <div style = "display: flex; justify-content: center;" class = "mb-3">
                        <img src = "/img/profile_picture.jpg" alt = "profile_picture" class = "rounded-circle mt-3 " style  = "width : 75px;">
                    </div>
                    <div style = "display:flex; justify-content: center;">
                        <hr style  = "width: 200px;">
                    </div>
                    <div class="container mb-5">
                        <p class = "text-muted text-center mt-3">
                            Anonymous
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="border rounded-5 border-primary border-3">
                    <div class = "mt-3 mb-5" style="display:flex ; justify-content : center;">
                        <img src = "/img/kutip.png" alt = "kutip" style = "width: 20%;">
                    </div>
                    <div class="container mb- 3" style = "width: 300px;">
                        <p class = "text-center mt-3" style = "color: white">
                            I have be using Anw Online Learning for 3 years to learn Korean language. Long story short, I met 
                            one of my friend who lived in Korea, and she was suprised I can speak Korean fluently. Thank you Anw Learning Center
                        </p>
                    </div>
                    <div style = "display: flex; justify-content: center;" class = "mb-3">
                        <img src = "/img/profile_picture.jpg" alt = "profile_picture" class = "rounded-circle mt-3 " style  = "width : 75px;">
                    </div>
                    <div style = "display:flex; justify-content: center;">
                        <hr style  = "width: 200px;">
                    </div>  
                    <div class="container  mb-5">
                        <p class = "text-muted text-center mt-3">
                            Anonymous
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <blockquote class="blockquote text-center">
            <p class="mb-5" style = "font-size: 50px; color: white">With languages, you are at home anywhere</p>
            <footer class="blockquote-footer"><cite title="Source Title" style  = "font-size: 30px; ">Edmund De Waal</cite></footer>
          </blockquote>
    </div>
    <div class="container text-center mb-5">
      <div class="card-body">
        <hr>
        <h2 class="card-title mb-3 mt-3" style = "color: #40A4FF">Do you have an account?</h2>
        <p class="card-text" style = "color: white ">With having an account you can buy and access more class schedule and information</p>
        <p class="card-text" style = "color: white">So what are you waiting for? Press the button below to register</p>
        <a href="/register" class="btn btn-outline-primary mb-5">Register Now</a>
    </div>
    </div>
</div>
<%- include('partials/footer')%>
  </body>
