<%- include('partials/head')%>
<!-- still overlapping with footer -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
  </head>
  <body>
  <%- include('partials/navbar')%>
  <div class="row">
    <div class="col-sm-8" style="display: flex; justify-content: center;">
      <img src = "/img/login-picture.png" alt = "Image" >
    </div>
    <div class="col-sm-4 my-6">
      <div class="container my-5">
        <div class = "card" style = "width: 100%">
            <div class = "card-body">
                <h5 class = "card-title">Register Form</h5>
                <form onsubmit = "return false;" id = "form">
                    <div class="nb-3">
                      <label for="email" class = "form-label">Email address</label>
                      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" autocomplete="off" required>
                      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="nb-3">
                      <label for="Username" class = "form-label">Username</label>
                      <input type="text" class="form-control" id="Username" aria-describedby="emailHelp" placeholder="Enter Username" autocomplete="off" required>
                    </div>
                    <div class="nb-3">
                      <label for="Name" class = "form-label">Name</label>
                      <input type="text" class="form-control" id="Name" aria-describedby="emailHelp" placeholder="Enter Your Name" autocomplete="off" required>
                    </div>
                    <div class="nb-3">
                      <label for="password" class ="form-label">Password</label>
                      <input type="password" class="form-control" id="password" placeholder="Password" autocomplete="off" required>
                    </div>
                    <div class="nb-3">
                      <label for="password" class ="form-label">Re-Enter Password</label>
                      <input type="password" class="form-control" id="Repassword" placeholder="Re-Enter your Password" autocomplete="off" required>
                    </div>
                    <div class="alert alert-danger" role="alert"  id="error"   style="display: none;"></div>
                    <div class="alert alert-success" role="alert" id="success" style="display: none;"></div>
                    <button type="submit" class="btn btn-primary">Register</button>
                  </form>
            </div>
          </div>
      </div>
    </div>
  </div>
  <script src = "js/register.js"></script>
  <%- include('partials/footer')%>
</body>
</html>