<%- include('partials/head')%>

  <body>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <style>
      .other{
            background-image: url('../img/background_2.jpg');
            width: 100%;
            height: 800px;
            background-repeat: no-repeat; /* Do not repeat the image */
            background-size: cover; /* Resize the background image to cover the entire container */
        }
    </style>
    <div class="row other">
    <%- include('partials/navbar')%>
    <div class="col-sm-8" style="display: flex; justify-content: center;"></div>
    <div class="col-sm-4 my-6">
      <div class="container my-5">
        <div class = "card" style = "width: 100%">
            <div class = "card-body" style="box-shadow: 0 8px 24px 0 rgba(252, 246, 224, 0.704);">
                <h5 class = "card-title">Register Form</h5>
                <form onsubmit = "return false;" id = "form">
                    <div class="nb-3">
                      <label for="email" class = "form-label">Email address</label>
                      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" autocomplete="off" required>
                      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="nb-3">
                      <label for="Username" class = "form-label">Username</label>
                      <input type="text" class="form-control" id="Username" aria-describedby="emailHelp" placeholder="Enter Username" autocomplete="off" required>
                    </div>
                    <div class="nb-3">
                      <label for="Name" class = "form-label">Name</label>
                      <input type="text" class="form-control" id="Name" aria-describedby="emailHelp" placeholder="Enter Your Name" autocomplete="off" required>
                    </div>
                    <div class="nb-3">
                      <label for="password" class ="form-label">Password</label>
                      <input type="password" class="form-control" id="password" placeholder="Password" autocomplete="off" required>
                    </div>
                    <div class="nb-3">
                      <label for="password" class ="form-label">Re-Enter Password</label>
                      <input type="password" class="form-control" id="Repassword" placeholder="Re-Enter your Password" autocomplete="off" required>
                    </div>
                    <div class="alert alert-danger" role="alert"  id="error"   style="display: none;"></div>
                    <div class="alert alert-success" role="alert" id="success" style="display: none;"></div>
                    <button type="submit" class="btn btn-primary mt-5">Register</button>
                  </form>
            </div>
          </div>
      </div>
    </div>
  </div>
  <script src = "js/register.js"></script>
  <%- include('partials/footer')%>
</body>
</html>