<%- include('partials/head')%>
<body>
    <%- include('partials/navbar')%>
    <div class="container">
        <div class="row" style = "background-color: white; height: 400px; width: 100%;">
            <div class="col-3">
                <img class = "rounded-5" src = "/image/profile_picture.jpg" alt = "profile picture" style = "display: flex;">   
            </div>
            <div class="col-9">

            </div>
        </div>
    </div>
    <%- include('partials/footer')%>
</body>